In [ ]:
# Sets are collection data types that are unordered, mutable, and do not allow duplicate elements.

In [ ]:
# example of creating a set
first_set = {1, 2, 3, 4, 5}
print(first_set)
print(type(first_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
# example 2
second_set = set([4, 5, 6, 7, 8])
print(second_set)
empty_set = set()
print(empty_set)

{4, 5, 6, 7, 8}
set()

In [7]:
# example 3
third_set = {1, 2, 3, 4, 5, 4, 51, 2, 3}
print(third_set)

{1, 2, 3, 4, 5, 51}

In [ ]:
# Methods for Set Operations or math operations on sets
# union, intersection, difference, symmetric_difference, issubset, issuperset, isdisjoint

first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}
third_set = {1, 2, 3}  # Added since it was missing before

# Union → all unique elements from both sets
print("Union:", first_set.union(second_set))

# Intersection → common elements
print("Intersection:", first_set.intersection(second_set))

# Difference → elements in first_set but not in second_set
print("Difference:", first_set.difference(second_set))

# Symmetric Difference → elements not common in both sets
print("Symmetric Difference:", first_set.symmetric_difference(second_set))

# Subset → True if all elements of first_set are in third_set
print("Is Subset:", first_set.issubset(third_set))

# Superset → True if all elements of third_set are in first_set
print("Is Superset:", first_set.issuperset(third_set))

# Disjoint → True if no elements are common
print("Is Disjoint:", first_set.isdisjoint(second_set))

# Intersection Update → updates first_set with common elements
# intersection_update() returns None — it modifies the set directly,
# so you should print first_set after calling it.
first_set.intersection_update(second_set)
print("After Intersection Update:", first_set)

# similarly we have update, difference_update, symmetric_difference_update

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
False
False
False
None

In [24]:
# set methods
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8, }
first_set.add(6)  # add element
print(first_set)
first_set.remove(6)  # remove element
print(first_set)
first_set.discard(10)  # discard element (no error if not found)
print(first_set)    
print("The popped element is:",first_set.pop())  # remove and return an arbitrary element, an "arbitrary" element is one that is chosen by the program without a specified order or criteria.Raises a KeyError if the set is empty.
print("first_set after pop:", first_set)
print(len(first_set))  # length of set
first_set.clear()  # clear all elements
print("first_set after clear:", first_set)
original_set = {1, 2, 3}
copied_set = original_set.copy()
print("Shallow copy:",copied_set) # shallow copy is a copy of the original set that contains references to the same elements as the original set but is a separate object. Changes made to the copied set do not affect the original set and vice versa.

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
The popped element is: 1
first_set after pop: {2, 3, 4, 5}
4
first_set after clear: set()
Shallow copy: {1, 2, 3}

In [ ]:
# set membership test
first_set = {1, 2, 3, 4, 5} 
print(1 in first_set)  # returns True when element is found
print(7 not in first_set)  # returns True when element is not found
print(6 in first_set)  # False
print(6 not in first_set)  # True

True
True
False
True