# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [38]:
# Q1
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Q2
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup[0])
print(len(tup)//2)
print(tup[-1])

1
5
10

In [13]:
# Q3 
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup[:3])
print(tup[-3:])
print(tup[2:-3])
print(tup[::-1])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6, 7)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [35]:
# Q4
matrix = ((1,0,0),(0,1,0),(0,0,1))
for i in matrix:
    print(i)
print("The element at 2nd row and 3rd column is ",matrix[1][2])

(1, 0, 0)
(0, 1, 0)
(0, 0, 1)
The element at 2nd row and 3rd column is  0

In [33]:
# Q5
tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
concatenated_tuple = tuple_1 + tuple_2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Q6
count_element =  (1,2,3,4,5,4,5,6,7)
element = 4
print(f"{element} occurs {count_element.count(element)} times.")
print(f"{element} first occurs at index {count_element.index(element)}.")

print("===============")

# ex 
count_element =  (1,1,2,3,4,5,4,5,6,7)
for i in set(count_element):
    print(f"{i}: counts = {count_element.count(i)}")

# Using set() removes duplicates from the loop,
# so each element is visited only once.
# But .count(i) looks at the original tuple,
# so it still counts all duplicates inside it.
# Example: 4 appears twice in the tuple → count = 2,
# even though the loop sees 4 only once.

4 occurs 2 times.
4 first occurs at index 3.
===============
1: counts = 2
2: counts = 1
3: counts = 1
4: counts = 2
5: counts = 2
6: counts = 1
7: counts = 1

In [22]:
# Q7
packed_tuple = (1,2,3,4,5)
a,b,c,d,e, = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [17]:
# Q 8
lst = [1,2,3,4,5]
lst_to_tuple = tuple(lst)
print(lst_to_tuple)

(1, 2, 3, 4, 5)

In [16]:
# Q9
nested_tuple = (("a","b","c"),("d","e","f"),("g","h","i"))
print(nested_tuple)

(('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i'))

In [15]:
# Q10
int_tuple = (1,2,3,4,5)
tuple_to_list = list(int_tuple)
tuple_to_list.append(6)
resulting_tuple = tuple(tuple_to_list)
print(resulting_tuple)

(1, 2, 3, 4, 5, 6)

In [14]:
# Q11
char_tuple = ("H","e","l","l","o")
string = "".join(char_tuple)
print(string)

Hello

In [ ]:
# Q12
dictionary = {("a"):1,("b"):2}
print(dictionary)

# creatimg dictionary dinamically
dictionary_2 = {}
dictionary_2[("a","b")] = 1
dictionary_2[("c","d")] = 2
dictionary_2[("f","e")] = 3
print(dictionary_2)

{'a': 1, 'b': 2}
{('a', 'b'): 1, ('c', 'd'): 2, ('f', 'e'): 3}

In [9]:
# Q13

nested_tuple = (("a","b","c"),("d","e","f"),("g","h","i","j"))
for tuples in nested_tuple:
    for item in tuples:
        print(item,end=" ")

a b c d e f g h i j

In [8]:
# Q14
dupicate_elements = ("a","b","c","a","d")
s = set(dupicate_elements)
print(s)

{'b', 'd', 'a', 'c'}

In [4]:
# What is an iterator?

# An iterator is an object in Python that lets you go through elements one by one.

# It remembers where it is so that when you ask for the “next” item, it gives you the next one, not the first again.

# You create an iterator with the iter() function.
# You get the next element with the next() function.

# Example: list → iterator
# nums = [3, 7, 1]
# it = iter(nums)   # make an iterator from the list

# print(next(it))   # 3
# print(next(it))   # 7
# print(next(it))   # 1
# print(next(it))   # ERROR: no more elements

In [ ]:
# Q15

# Single pass algorithm

def min_max(iterable):
    it = iter(iterable)
    try:
        first = next(it)
    except StopIteration:
        raise ValueError("Empty Iterable")

    min_val = max_val = first
    total = first
    for num in it:
        total = total + num
        if num < min_val:
            min_val = num
        elif num > max_val:
            max_val = num
    return min_val,max_val,total       

t = (1,2,3)
a,b,c = min_max(t)
print("min value",a)
print("max value",b)
print("sum",c)

min value 1
max value 3
sum 6